<!DOCTYPE HTML>

<html>
	<head>
		<title>Playlistify</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/about" class="logo">Made by Dev Masrani</a>
					<nav id="nav">
						<a href="https://www.masrani.tech/">Home</a>
						<a href="generic.html">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
			</section>

		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">

					<h3>Choose your options:</h3>

					<form action="/result" method="post">

						<div class="field half first">
							<label for="name">Playlist Name</label>
							<input name="playlist_name" id="name" type="text" placeholder="Playlist Name">
						</div>
						<div class="field half">
							<label for="email">Playlist Description</label>
							<input name="playlist_description" id="email" type="text" placeholder="Playlist Description">
						</div>
                        <div class="field half first">
                            <label for="name">Number of songs in playlist</label>
							<input name="number_of_songs" id="numsongs" type="text" placeholder="Number of Songs(Must be less than 100)">
                        </div>
						<div class="field half">
							<label for="name">Playlist Popularity Duration</label>
                            <select name="option" id="option">
								<option value="-1">Pick Option:</option>
  								<option value="0">Last Month</option>
  								<option value="1">Last 6 Months</option>
  								<option value="2">All Time</option>
 								 <option value="3">All of the Above</option>
							</select>
							<!--<textarea name="genre_names" id="message" rows="6" placeholder='Genre Names. Examples: Happy Holidays, Hip-Hop, Pop, Country, Workout, At-Home, Rock , Latin, Mood, R&ampB (R&B), Gaming, Focus, Dance/Electronic, Black History Music, Chill, Indie.'></textarea> -->
						</div>
						<ul class="actions">
							<li><button class="button special" type="submit">Create!</button></li>
						</ul>
						<p>{{error_message_genres}}</p>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h7>Built with love on 12/20/2020 | Last Updated: 12/31/2020 </h7>
				</div>
				<div class="inner">
					<h7>Backend: Dev Masrani | Frontend: Sankalp Varshney & Dev Masrani </h7>
				</div>
				<div class="inner">
					<h7>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Dev Masrani All Rights Reserved</h7>
				</div>
			</footer>

	</body>
</html>