<!DOCTYPE HTML>
<html>
	<head>
		<title>Playlistifyer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="" class="logo">Made by San Varshney and Dev Masrani</a>
					<nav id="nav">
						<!--<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a> -->
						<a href="/#">Home</a>
						<a href="/about">About</a>
						<a href="https://github.com/dsmasrani/Playlistify">Github</a>
						<!--<a href="elements.html">Elements</a>-->
					</nav>
				</div>
			</header>

		<section id="banner">
				<div class="inner">
					<header>
						<h1>About Us</h1>
					</header>

					<div class="flex ">

                        <div>
							<img src="static/images/san_pic.jpg" alt="Pic 01" width=300" height="310" style="object-fit: cover;border-radius: 50%;">
							<h3>Sankalp Varshney</h3>
							<p>Class of 2024 @ Calpoly SLO</p>
							<p>Pursuing Computer Science</p>
            				<a href="https://www.linkedin.com/in/sanv12" style="text-decoration: none"><i class="icon fa-linkedin-square"></i>&nbsp&nbsp&nbsp&nbsp</a>
            				<a href="https://www.snapchat.com/add/santheman2" style="text-decoration: none"><i class="icon fa-snapchat"></i>&nbsp&nbsp&nbsp&nbsp</a>
							<a href="https://www.instagram.com/sanvarshney_/" style="text-decoration: none"><i class="icon fa-instagram"></i>&nbsp&nbsp&nbsp&nbsp</a>
							<a href="https://github.com/dsmasrani/Playlistify" style="text-decoration: none"><i class="icon fa-github"></i></a>
						</div>

						<div>
							<img src="static/images/dev_pic.jpg" alt="Pic 01" width="300" height="310" style="object-fit: cover;border-radius: 50%"/>
								<h3>Dev Masrani</h3>
							<p>Class of 2024 @ Calpoly SLO</p>
							<p>Pursuing Computer Engineering</p>
							<a href="https://www.linkedin.com/in/dev-masrani" style="text-decoration: none"><i class="icon fa-linkedin-square"></i>&nbsp&nbsp&nbsp&nbsp</a>
            				<a href="https://www.snapchat.com/add/dev.masrani" style="text-decoration: none"><i class="icon fa-snapchat"></i>&nbsp&nbsp&nbsp&nbsp</a>
							<a href="https://www.instagram.com/dev.masrani/" style="text-decoration: none"><i class="icon fa-instagram"></i>&nbsp&nbsp&nbsp&nbsp</a>
							<a href="https://github.com/dsmasrani/Playlistify" style="text-decoration: none"><i class="icon fa-github"></i></a>
						</div>


					</div>

			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<p>in conclusion, san has a bigger penis than dev</p>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="/contact" method="post">
						<p>{{success_message}}</p>
						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						<h7>Copyright &copy; <script>document.write(new Date().getFullYear())</script> San & Dev All Rights Reserved</h7>
					</div>

				</div>
			</footer>

	</body>
</html>